# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

electron-pid.txt
out/.icon-ico
out/win-ia32-unpacked
out/win-unpacked
out/builder-debug.yml
out/builder-effective-config.yaml
.idea
dist/electron
dist/scripts
dist/package-lock.json
files
